In [1]:
1+1

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.8:4040
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1587921312016)
SparkSession available as 'spark'

res0: Int = 2

## Tipos de variables

In [2]:
val bool1 = true
val bool2 = false
//Integers
val num: Int = 255
//Longs
//val longValue: Long = 1L
//Doubles
val doubleValue: Double = 3.1416
//Floats
val floatValue:Float = 1.6164f

val cade1="hola"
val cade2="mundo"

num: Int = 255
longValue: Long = 1
doubleValue: Double = 3.1416
floatValue: Float = 1.6164
cade1: String = hola
cade2: String = mundo

In [4]:
cade1="ejemplo"

<console>: 26: error: reassignment to val

## Listas

In [5]:
var lista = List(1,2,3,4,5,6)

lista: List[Int] = List(1, 2, 3, 4, 5, 6)

In [8]:
lista:::List(7,8)

res1: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
lista= lista:::List(7,8)

lista: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
lista:::List("cade1","cade2")

res5: List[Any] = List(1, 2, 3, 4, 5, 6, 7, 8, cade1, cade2)

In [14]:
lista = lista:::List("cade1","cade2")

<console>: 26: error: type mismatch;

In [12]:
lista::List(7,8)

res4: List[Any] = List(List(1, 2, 3, 4, 5, 6, 7, 8), 7, 8)

In [15]:
val list1 = 1::2::3::4::5::Nil

list1: List[Int] = List(1, 2, 3, 4, 5)

In [25]:
type(list1)

<console>: 2: error: identifier expected but '(' found.

In [22]:
var list1 = 1::2::3::4::5::Nil
var list2 = List(1,2,3,4,5)
var list3 = List.range(1,6)
var list4 = List.range(1,6,2)
var list5 = List.fill(5)(1)
var list6 = List("Paco","Andres","Sonia","Maria")
var list7 = List.tabulate(5)(n => n * n)

list1: List[Int] = List(1, 2, 3, 4, 5)
list2: List[Int] = List(1, 2, 3, 4, 5)
list3: List[Int] = List(1, 2, 3, 4, 5)
list4: List[Int] = List(1, 3, 5)
list5: List[Int] = List(1, 1, 1, 1, 1)
list6: List[String] = List(Paco, Andres, Sonia, Maria)
list7: List[Int] = List(0, 1, 4, 9, 16)

In [23]:
list1: List[Int] = List(1, 2, 3, 4, 5)
list2: List[Int] = List(1, 2, 3, 4, 5)
list3: List[Int] = List(1, 2, 3, 4, 5)
list4: List[Int] = List(1, 3, 5)
list5: List[Int] = List(1, 1, 1, 1, 1)
list6: List[String] = List(Paco, Andres, Sonia, Maria)
list7: List[Int] = List(0, 1, 4, 9, 16)

<console>: 2: error: ';' expected but '=' found.

In [17]:
list1: List[Int] = List(1, 2, 3, 4, 5)
list2: List[Int] = List(1, 2, 3, 4, 5)
list3: List[Int] = List(1, 2, 3, 4, 5)
list4: List[Int] = List(1, 3, 5)
list5: List[Int] = List(1, 1, 1, 1, 1)
list6: List[String] = List(Paco, Andres, Sonia, Maria)
list7: List[Int] = List(0, 1, 4, 9, 16)

<console>: 2: error: ';' expected but '=' found.

In [27]:
val df = Seq(
    ("uno", 2.0),
    ("dos", 1.5),
    ("tres", 8.0)
  ).toDF("id", "valor")

df: org.apache.spark.sql.DataFrame = [id: string, valor: double]

In [28]:
df.show()

+----+-----+
|  id|valor|
+----+-----+
| uno|  2.0|
| dos|  1.5|
|tres|  8.0|
+----+-----+